/*
COLOR PALETTE: https://coolors.co/d7fff1-aafcb8-8cd790-77af9c-285943
#d7fff1 - Aero BLue
#aafcb8 - Granny Smith Apple Light
#8cd790 - Granny Smith Apply Dark
#77af9c - Green Sheen
#285943 - Castleton Green
 */

/* Global Styles
---------------------------------*/
body {
  color: #285943;
  margin: 0;
  padding: 0;
}

header {
  background: #77af9c;
  color: #d7fff1;
}

img {
  width: 300px;
}

a {
  color: #77af9c;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
}

/* Profile Styles
---------------------------------*/


/* Project Styles
---------------------------------*/
.projects {
  background: #d7fff1;
}

.projects a {
  background: #aafcb8;
}

.projects a.btn {
  background: #285943;
  color: #d7fff1;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px
}

.projects a.btn:hover {
  background: rgba(40,89,67,50%);
}

/* Work Experience Styles
---------------------------------*/
.work-experience {
  background: #aafcb8;
}

/* Eductation Styles
---------------------------------*/
.work-experience {
  background: #aafcb8;
}

/* Contact Styles
---------------------------------*/
footer {
  background: #285943;
  color: #d7fff1;
}
